<!DOCTYPE html>
<html lang="br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial - Delas para Elas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/style.css">
  <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
  <script src="../js/search.js"></script>
</head>

<body>
  <header class="header">
    <input type="checkbox" id="check">
    <nav>
      <div class="logo">
        <a href="index.html" style="color: #FB3192;"><img src="../assets/logo.svg">
            Delas para Elas</a>
      </div>
      <div class="pesquisa">
        <input type="search" placeholder="Pesquisar" id="searchbar" name="searchbar" onkeyup="search()">
        <span class="fa fa-search"></span>
      </div>
      <ol>
        <li><a href="login.php">Login</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="anteriores.html">Anos Anteriores</a></li>
        <li><a href="equipe.html">Equipe</a></li>
      </ol>
      <label for="check" class="bar">
        <span class="fa fa-bars" id="bars"></span>
        <span class="fa fa-times" id="times"></span>
      </label>
    </nav>
  </header>

    <section>
        <div class="equipe">
            <p class="text">Equipe</p>

            <div class="row">

                <!--membro 1-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/Aline.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Aline</h4>
                            <span>Voluntária</span>
                            <span>Início 01/03/2024</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/aline-gabriela-loiola-almeida-053300254"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/aline_gabriellaa?igsh=MWhtaXJqOXJlMmpjYg=="><i
                                        class="bi bi-instagram"></i></a>
                                <a href="https://lattes.cnpq.br/7130334980300621"><i
                                        class="bi bi-file-earmark-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 2-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/Bianca.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Bianca</h4>
                            <span>Voluntária</span>
                            <span>Início 01/03/2024</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/bianca-pinto-4b7058202/"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/bianca.pinto2?igsh=MXQ3bTd6aWk1bzBzYQ=="><i
                                        class="bi bi-instagram"></i></a>
                                <a href="http://lattes.cnpq.br/5169932720926223"><i
                                        class="bi bi-file-earmark-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 3-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/FrancianeGoncalves.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Franciane</h4>
                            <span>Bolsista</span>
                            <span>Início 01/03/2023</span>
                            <div class="social">
                                <a href="https://www.linkedin.com/in/goncalvesfraan"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/goncalves.fraan/"><i class="bi bi-instagram"></i></a>
                                <a href=><i class="bi bi-file-earmark-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 4-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/GabriellaBarbosa.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Gabriella</h4>
                            <span>Coordenadora Adjunta</span>
                            <span>Início 01/03/2023</span>

                            <div class="social">
                                <a
                                    href="https://www.linkedin.com/in/gabriellacbc?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i
                                        class="bi bi-linkedin"></i></a>
                                <a
                                    href="https://www.instagram.com/gabriella.profa?utm_source=qr&igsh=MXVjdXFwdDU3NzFlOQ=="><i
                                        class="bi bi-instagram"></i></a>
                                <a href="http://lattes.cnpq.br/8544922263187197"><i
                                        class="bi bi-file-earmark-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 5-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/GlauciaCosta.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Glaucia</h4>
                            <span>Coordenadora</span>
                            <span>Início 01/03/2023</span>


                            <div class="social">
                                <a href=><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/glaucia.mnco?igsh=amU0dWVwaDRqdmh3"><i
                                        class="bi bi-instagram"></i></a>
                                <a href=><i class="bi bi-file-earmark-person"></i></a>

                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 6-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/JessicaAdelina.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Jéssica Adelina</h4>
                            <span>Voluntária</span>
                            <span>01/03/2023 a 01/03/2024</span>


                            <div class="social">
                                <a
                                    href="https://www.linkedin.com/in/j%C3%A9ssica-adelina-7999a0283?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/jessicamclz?igsh=anh4azV6dTBlbGFo&utm_source=qr"><i
                                        class="bi bi-instagram"></i></a>
                                <a href="https://lattes.cnpq.br/0087300243557521"><i
                                        class="bi bi-file-earmark-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 7-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/JuliaCarneiro.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Júlia Carneiro</h4>
                            <span>Voluntária</span>
                            <span>Início 01/05/2023</span>


                            <div class="social">
                                <a
                                    href="https://www.linkedin.com/in/julia-carneiro-395013240?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/jucoliveira_?igsh=NG9lbmxrYXQ2YTVh"><i
                                        class="bi bi-instagram"></i></a>
                                <a href="https://lattes.cnpq.br/5445925066141907"><i
                                        class="bi bi-file-earmark-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 8-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/JuliaRios.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Júlia Rios</h4>
                            <span>Voluntária</span>
                            <span>Início 01/03/2023</span>


                            <div class="social">
                                <a href="https://www.linkedin.com/in/j%C3%BAlia-rios-a55513247/"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/juliafreitasrios/"><i
                                        class="bi bi-instagram"></i></a>
                                <a href="http://lattes.cnpq.br/2314896603344467"><i
                                        class="bi bi-file-earmark-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 9-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/LeticiaRibeiro.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Letícia</h4>
                            <span>Voluntária</span>
                            <span>Início 01/03/2023</span>


                            <div class="social">
                                <a href="https://www.linkedin.com/in/leticia-ribeiro-santos"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/le.ribs?igsh=aWUxaDQ4bDR2dHp0"><i
                                        class="bi bi-instagram"></i></a>
                                <a href=" https://lattes.cnpq.br/1238777382335447"><i
                                        class="bi bi-file-earmark-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 10-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/Lucilia.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Lucília</h4>
                            <span>Voluntária</span>
                            <span>Início 01/03/2024</span>


                            <div class="social">
                                <a href=><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/lucilia.olive/"><i class="bi bi-instagram"></i></a>
                                <a href=><i class="bi bi-file-earmark-person"></i></a>

                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 11-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/Marcela.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Marcela</h4>
                            <span>Voluntária</span>
                            <span>Início 01/03/2024</span>


                            <div class="social">
                                <a href="https://br.linkedin.com/in/marcela-gomes-pinheiro"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/marcela.gomes1/"><i class="bi bi-instagram"></i></a>
                                <a href="https://lattes.cnpq.br/1029750107856322"><i
                                        class="bi bi-file-earmark-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 12-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/MariaJuliaSchettini.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Maria Júlia</h4>
                            <span>Voluntária</span>
                            <span>Início 01/03/2024</span>


                            <div class="social">
                                <a href="https://www.linkedin.com/in/mjschettini/"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/majumarquest/"><i class="bi bi-instagram"></i></a>
                                <a href="http://lattes.cnpq.br/8026236452978992"><i
                                        class="bi bi-file-earmark-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 13-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/MarianaMoura.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Mariana</h4>
                            <span>Voluntária</span>
                            <span>Início 01/03/2024</span>


                            <div class="social">
                                <a href="www.linkedin.com/in/marianamouracoelho"><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/mmouracc/"><i class="bi bi-instagram"></i></a>
                                <a href="http://lattes.cnpq.br/8971866668639427"><i
                                        class="bi bi-file-earmark-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 14-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/RafaelaLorenzeto.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Rafaela</h4>
                            <span>Voluntária</span>
                            <span>Início 01/03/2023</span>


                            <div class="social">
                                <a
                                    href="https://www.linkedin.com/in/rafaela-lorenzeto-b285b8214?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/rlorenzetto?igsh=djZ3YmdkY3RmcXVw"><i
                                        class="bi bi-instagram"></i></a>
                                <a href="http://lattes.cnpq.br/1722634242512506"><i
                                        class="bi bi-file-earmark-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 15-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/RobertaBerno.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Roberta</h4>
                            <span>Voluntária</span>
                            <span>Início 01/03/2023</span>


                            <div class="social">
                                <a href="https://www.instagram.com/robertaa.berno?igsh=MTdraHE4eDVyZTBjMQ=="><i
                                        class="bi bi-instagram"></i></a>
                                <a href="http://lattes.cnpq.br/4538672785878110"><i
                                        class="bi bi-file-earmark-person"></i></a>
                                <a href=><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 16-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/SimoneCorrea.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Simone</h4>
                            <span>Voluntária</span>
                            <span>Início 01/03/2024</span>


                            <div class="social">
                                <a href="https://lattes.cnpq.br/9436358869789340"><i
                                        class="bi bi-file-earmark-person"></i></a>



                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 17-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/Sueli.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Sueli</h4>
                            <span>Voluntária</span>
                            <span>Início 01/03/2024</span>


                            <div class="social">
                                <a href=><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/suelioliveirafelipe/"><i
                                        class="bi bi-instagram"></i></a>
                                <a href=><i class="bi bi-file-earmark-person"></i></a>

                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 18-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/Tamires.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Tamires</h4>
                            <span>Bolsista </span>
                            <span>Início 01/03/2024</span>


                            <div class="social">
                                <a href=><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/tamirescmvillela/"><i
                                        class="bi bi-instagram"></i></a>
                                <a href=><i class="bi bi-file-earmark-person"></i></a>

                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 19-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/TatianaAzevedo.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Tatiana</h4>
                            <span>Voluntária</span>
                            <span>Início 01/03/2023</span>
                            <div class="social">
                                <a href=><i class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/tatianabazevedo/"><i class="bi bi-instagram"></i></a>
                                <a href=><i class="bi bi-file-earmark-person"></i></a>

                            </div>
                        </div>
                    </div>
                </div>

                <!--membro 20-->
                <div class="col-lg-3 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic">
                            <img src="../assets/Vanessa.jpg" class="img-fluid" alt="membro 1">
                        </div>
                        <div class="member-info">
                            <h4>Vanessa</h4>
                            <span>Voluntária</span>
                            <span>Início 01/05/2023</span>


                            <div class="social">
                                <a
                                    href="https://www.linkedin.com/in/vanessa-gardingo-nogueira-b142a8231?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://www.instagram.com/va_gardingo?igsh=d3ZqMmxqYnl2ZWI0&utm_source=qr"><i
                                        class="bi bi-instagram"></i></a>
                                <a href="https://buscatextual.cnpq.br/buscatextual/visualizacv.do"><i
                                        class="bi bi-file-earmark-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            <footer class="rodape" id="contato">
                <div class="rodape-div">

                    <div class="rodape-div-1">
                        <div class="rodape-div-1-coluna">

                            <span><b>Institucional</b></span>
                            <p><a href="sobre.html">Sobre nós</a></p>
                            <p><a href="#anteriores.html">Anos Anteriores</a></p>
                        </div>
                    </div>

                    <div class="rodape-div-2">
                        <div class="rodape-div-2-coluna">

                            <span><b>Apoio</b></span>
                            <p>CEFET-MG</p>
                            <p>DEDC</p>
                            <p>Lince</p>
                            <p>Programa Mundo Maker</p>
                            <p>PET.COMP</p>
                            <p>PET.ENCAUT</p>
                        </div>
                    </div>

                    <div class="rodape-div-3">
                        <div class="rodape-div-3-coluna">

                            <span><b>Links</b></span>
                            <p><a href="#instagram">Instagram</a></p>
                            <p><a href="#twitter">Twitter</a></p>
                        </div>
                    </div>

                    <div class="rodape-div-4">
                        <div class="rodape-div-4-coluna">

                            <span><b>Ajuda</b></span>
                            <p><a href="#email">E-mail</a></p>
                        </div>
                    </div>

                </div>
                <p class="rodape-direitos">Copyright © 2024 - Delas para Elas</p>
            </footer>

        
    </section>
</body>

</html>