<!DOCTYPE html>
<html lang="br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial - Delas para Elas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/style.css">
  <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
  <script src="../js/search.js"></script>
</head>

<body>
  <header class="header">
    <nav>
      <div class="logo">
        <img src="../assets/logo.svg">
        Delas para Elas
      </div>
      <ol>
        <li><a href="login.php">Login</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="anteriores.html">Anos Anteriores</a></li>
        <li><a href="equipe.html">Equipe</a></li>
      </ol>
    </nav>
  </header>

  <section>

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/carrossel1.png" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/carrossel2.png" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/carrossel3.png" class="d-block w-100 img-fluid" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="informacoes input-group">

      <div class="influencia" id="tooltip">
        <span>
          <h4 class="text-center my-5">Influência</h4>
        </span>
        <span id="tooltip">
          <img class="svg1" src="../assets/computador.svg" alt="Como o Delas para Elas influencia a vida de mulheres interessadas em tecnologia" fill="none">
        </span>
      </div>

      <div class="visibilidade" id="tooltip">
        <span>
          <h4 class="text-center my-5">Visibilidade</h4>
        </span>
        <span id="tooltip">
          <img class="svg1" src="../assets/visibilidade.svg" alt="Como o projeto promove a visibilidade de mulheres no ramo tecnológico" fill="none">
        </span>
      </div>

      <div class="oportunidade" id="tooltip">
        <span>
          <h4 class="text-center my-5">Oportunidade</h4>
        </span>
        <span id="tooltip">
          <img class="svg1" src="../assets/oportunidade.svg" alt="Como o projeto oferece oportunidades à mulheres" fill="none">
        </span>
      </div>

      <div class="equipe" id="tooltip">
        <span>
          <h4 class="text-center my-5">Apoio</h4>
        </span>
        <span id="tooltip">
          <img class="svg1" src="../assets/participantes.svg" alt="Apoio feminino ao longo da jornada" fill="none">
        </span>
      </div>
    </div>

    <div class="ultimasnoticias">
      <h1> Notícias</h1>

      <ul class="busca">
        <li class="posts">
          <div class="post">
            <h2 class="texto-titulo">“Delas para Elas” no Congresso da Sociedade Brasileira de Computação</h2>
            <span class="data-post">21 a 25 Julho de 2024</span>
            <img class="imagem" src="../assets/Gabi_Maju.jpg" width="100px">
            <p class="texto-desc">18º Women in Information Technology </p>
            <a href="noticia-6.html">Ler Mais</a>
          </div>
        </li>
        <li class="posts">
          <div class="post">
            <h2 class="texto-titulo">Curso Básico de Informática</h2>
            <span class="data-post">06 a 10 de maio de 2024</span>
            <img class="imagem" src="../assets/imagem1noticia5.jpg" width="100px">
            <p class="texto-desc">A Tecnologia ao alcance de todos</p>
            <a href="noticia-5.html">Ler Mais</a>
          </div>
        </li>
        <li class="posts">
          <div class="post">
            <h2 class="texto-titulo">Curso Interfaces Gráficas</h2>
            <span class="data-post">12 e 19 de abril de 2024</span>
            <img class="imagem" src="../assets/imagem1noticia4.jpg" width="100px">
            <p class="texto-desc">O empreendedorismo feminino impulsionado pela tecnologia</p>
            <a href="noticia-4.html">Ler Mais</a>
          </div>
        </li>
        <li class="posts">
          <div class="post">
            <h2 class="texto-titulo">Empoderamento Feminino no mundo da Tecnologia: Conquistas e Desafios</h2>
            <span class="data-post">14 de agosto de 2023</span>
            <img class="imagem" src="../assets/FotoDelas1.jpeg" width="100px">
            <p class="texto-desc">Debate sobre a posição da mulher no mercado de tecnologia</p>
            <a href="noticia-2.html">Ler Mais</a>
          </div>
        </li>
        <li class="posts">
          <div class="post">

            <h2 class="texto-titulo">Curso de Robótica</h2>
            <span class="data-post">26 de maio de 2023</span>
            <img class="imagem" src="../assets/imagem1noticia3.jpg" width="100px">
            <p class="texto-desc">Minicurso organizado pelo projeto Delas para Elas</p>
            <a href="noticia-3.html">Ler Mais</a>
          </div>
        </li>
        <li class="posts">
          <div class="post">
            <h2 class="texto-titulo">Empoderamento Feminino no mundo do Trabalho: Conquistas e Desafios</h2>
            <span class="data-post">24 de maio de 2023</span>
            <img class="imagem" src="../assets/imagem2noticia1.jpg" width="100px">
            <p class="texto-desc">Debate sobre vivências femininas no mercado de trabalho</p>
            <a href="noticia-1.html">Ler Mais</a>
          </div>
        </li>
      </ul>

      <div class="caixadeemail">
        <form action="../../controller/envia.php" method="POST">

          <h1 class="textocaixa">Entre em contato!</h1>
          <h4 class="textocaixa2">Envie suas dúvidas ou comentários.</h4>
          <div class="input-single">
            <label for="nome">Nome:</label>
            <input class="input" type="text" id="nome" name="nome" required autocomplete="off">
          </div>
          <div class="input-single">
            <label for="email">E-mail:</label>
            <input class="input" type="text" id="email" name="email" required autocomplete="off">
          </div>

          <div class="input-single">
            <label for="mensagem">Mensagem:</label>
            <textarea class="input" class="form-control" id="mensagem" name="mensagem" required
              autocomplete="off"></textarea>
          </div>

          <div class="btn"><input type="submit" class="botaoenviar" value="Enviar"></div>

        </form>
      </div>
    </div> 
      <footer class="rodape" id="contato">
        <div class="rodape-div">

          <div class="rodape-div-1">
            <div class="rodape-div-1-coluna">

              <span><b>Institucional</b></span>
              <p><a href="sobre.html">Sobre nós</a></p>
              <p><a href="#anteriores.html">Anos Anteriores</a></p>
            </div>
          </div>

          <div class="rodape-div-2">
            <div class="rodape-div-2-coluna">

              <span><b>Apoio</b></span>
              <p>CEFET-MG</p>
              <p>DEDC</p>
              <p>Lince</p>
              <p>Programa Mundo Maker</p>
              <p>PET.COMP</p>
              <p>PET.ENCAUT</p>
            </div>
          </div>

          <div class="rodape-div-3">
            <div class="rodape-div-3-coluna">

              <span><b>Links</b></span>
              <p><a href="#instagram">Instagram</a></p>
              <p><a href="#twitter">Twitter</a></p>
            </div>
          </div>

          <div class="rodape-div-4">
            <div class="rodape-div-4-coluna">

              <span><b>Ajuda</b></span>
              <p><a href="#email">E-mail</a></p>
            </div>
          </div>

        </div>
        <p class="rodape-direitos">Copyright © 2024 - Delas para Elas</p>
      </footer>
  </section>
</body>

</html>