<!DOCTYPE html>
<html lang="br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial - Delas para Elas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/style.css">
  <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
  <script src="../js/search.js"></script>
</head>

<body>
  <header class="header">
    <input type="checkbox" id="check">
    <nav>
      <div class="logo">
        <a href="index.html" style="color: #FB3192;"><img src="../assets/logo.svg">
            Delas para Elas</a>
      </div>
      <div class="pesquisa">
        <input type="search" placeholder="Pesquisar" id="searchbar" name="searchbar" onkeyup="search()">
        <span class="fa fa-search"></span>
      </div>
      <ol>
        <li><a href="login.php">Login</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="anteriores.html">Anos Anteriores</a></li>
        <li><a href="equipe.html">Equipe</a></li>
      </ol>
      <label for="check" class="bar">
        <span class="fa fa-bars" id="bars"></span>
        <span class="fa fa-times" id="times"></span>
      </label>
    </nav>
  </header>

    <section>

        <div class="apresentacao">
            <p class="text">O que é o Delas para Elas?</p>
            <p class="text2"> O Projeto Delas para Elas surgiu a partir do Programa de Extensão Mundo Maker: educação,
                desenvolvimento e cidadania (PG003-2023) e, ao longo do ano de 2023, foram realizadas ações voltadas
                para o público feminino do Campus Leopoldina e da comunidade externa. </p>

            <p class="text2">Através de parcerias com escolas do município de Leopoldina, também são realizadas ações de
                extensão para as estudantes desses locais.</p>
            <img class="imagemap" src="../assets/minicursoroboticaalunas.jpg"
                alt="Alunas desenvolvendo suas habilidades no minicurso de robótica ofertado pelo Delas para Elas."
                width="500px">

            <p class="text2">Com o desenvolvimento das ações propostas, tem-se a oportunidade de consolidar a
                participação do CEFET-MG Campus Leopoldina como um agente de transformação social para o município e
                região, assim como possibilita-se uma ativa formação cidadã, garantindo a oportunidade de participar de
                atividades que viabilizarão a integração entre a academia e a comunidade.</p>
            <img class="imagemap" src="../assets/minicursorobotica.jpg" alt="Minicurso de robótica sendo ministrado."
                width="500px">
        </div>

        <footer class="rodape" id="contato">
            <div class="rodape-div">

                <div class="rodape-div-1">
                    <div class="rodape-div-1-coluna">
                        <!-- elemento -->
                        <span><b>Institucional</b></span>
                        <p><a href="index3.html">Sobre nós</a></p>
                        <p><a href="#index.html">Home</a></p>
                    </div>
                </div>

                <div class="rodape-div-2">
                    <div class="rodape-div-2-coluna">
                        <!-- elemento -->
                        <span><b>Apoio</b></span>
                        <p>CEFET-MG</p>
                        <p>DEDC</p>
                        <p>Lince</p>
                        <p>Programa Mundo Maker</p>
                        <p>PET.COMP</p>
                        <p>PET.ENCAUT</p>
                    </div>
                </div>

                <div class="rodape-div-3">
                    <div class="rodape-div-3-coluna">
                        <!-- elemento -->
                        <span><b>Links</b></span>
                        <p><a href="#instagram">Instagram</a></p>
                        <p><a href="#twitter">Twitter</a></p>
                    </div>
                </div>

                <div class="rodape-div-4">
                    <div class="rodape-div-4-coluna">
                        <!-- elemento -->
                        <span><b>Ajuda</b></span>
                        <p><a href="#email">E-mail</a></p>
                    </div>
                </div>

            </div>
            <p class="rodape-direitos">Copyright © 2024 - Delas para Elas</p>
        </footer>
    </section>
</body>

</html>